/* 
    home page css
*/

.home {
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding-bottom: 2.5rem;
}
.home .searchbar {
    position: relative;
    height: 1.4rem;
    font-size: 0.7rem;
}
.home .searchbar .iconfont {
    position: absolute;
    top: 0.1rem;
    left: 0.3rem;
    font-size: 0.9rem;
    width: 1.5rem;
    height: 1.4rem;
}
.home .searchbar .iconfont img {
    height: .9rem;
}
.home .searchbar input {
    padding-left: 1.5rem;
    height: 100%;
    width: 100%;
    color: #999;
    background: none;
    float: left;
    font-size: inherit;
}
.home .searchbar .searchbtn {
    display: block;
    /* width: 2.5rem; */
    width: 0;
    height: 1.4rem;
    text-align: center;
    line-height: 1.4rem;
    font-size: 0.7rem;
    position: absolute;
    right: 0;
    top: 0;
    color: #5f646e;
    background: #eee;
    overflow: hidden;
}
.home .banner_bottom {
    width: 100%;
}
.home .banner_bottom a {
    display: block;
    width: 100%;
}
.home .banner_bottom a img {
    width: 100%;
}
.home .navs::after {
    content: "";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
    visibility: hidden;
}
.home .navs .item {
    float: left;
    width: 25% !important;
}
.home .navs .item a {
    display: block;
}
.home .navs .item a img {
    width: 100%;
}
.home .adver a {
    display: block;
}
.home .adver a img {
    width: 100%;
}
.home .picture .type {
    display: flex;
}
.home .picture .type a {
    display: block;
    flex: 1;
}
.home .picture .type a img {
    width: 100%;
}