

.seckill .title {
    padding: 0.5rem;
}
.seckill .title {
    display: flex;
    font-size: .75rem;
    justify-content: center;
    color: #666;
    align-items: center;
}
.seckill .title img {
    max-width: 5rem;
    height: 0.7rem;
    line-height: 0.7rem;
    margin-right: 1.6rem;
}
.seckill .title .ten {
    color: #444;
    margin-right: .2rem;
}
.seckill .title .time {
    color: #444;
    margin-right: 1.5rem;
}
.seckill .title .time span {
    height: 0.8rem;
    line-height: 0.7rem;
    border: 1px solid #d9d9d9;
    padding: 0 .1rem;
    margin: 1px 1px 0px;
}
.seckill .title .more {
    color: #888;
    font-size: .7rem;
    position: relative;
}
.seckill .title .more::after {
    content: "";
    display: block;
    width: .3rem;
    height: .3rem;
    border: 1px solid #888;
    border-left: none;
    border-bottom: none;
    transform: rotate(45deg);
    position: absolute;
    right: -0.5rem;
    top: 0.28rem;
}
.seckill .contentBox {
    height: 96px;
    width: 100%;
    overflow: hidden;
    overflow-x: scroll;
}
.seckill .contentBox::-webkit-scrollbar {
    display: none;
}
.seckill .contentBox .content {
    display: flex;
    align-items: center;
    transition: all .1s;
    transform: translate(0, 0);
}
.seckill .contentBox .content .conitem {
    width: 4rem;
    margin-right: .5rem;
    height: auto;
}
.seckill .contentBox .content .conitem img {
    width: 4rem;
    height: 4rem;
}
.seckill .contentBox .content .conitem dd {
    color: #ef4f4f;
    font-size: .7rem;
    text-align: center;
    line-height: .7rem;
}